html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/img/background.jpg);
  background-size: 100%
}

main {
  margin: 0;
}

.login-feld {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  background-color: #EDEDED;
  border-radius: 60px;
  box-shadow: 4px 4px #888;
}

.title {
  font-size: 40px;
  margin-left: 40px;
  margin-top: 40px;
  color: #3498DB;
  margin-bottom: 0;
}

.subtitle {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0;
}

.trennstrich {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
}

.input {
  margin: 0;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 25px;
  width: 410px;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  border-color: black;
  border-width: 1px;
}

.login-title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 10px;
}

.submit-button {
  margin-left: 36px;
  height: 45px;
  width: 120px;
  background-color: #3498DB;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.back {
  font-weight: bolder;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  margin-left: 40px;
  color: #3498DB;
  -webkit-transition: color 0.2s;
  width: 55px
}

.back:hover {
  -webkit-transition: color 0.2s;
  color: #5DADE2;

}
